<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgtr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
</head>
<body>
    <div class="container">
        <h1>Budgtr All</h1>
        <% let bankAccount = allBudget.reduce((acc, allBudget) => {
            return acc + parseInt(allBudget.amount)
        },0) %>
        <h3>Balance: <%= '$ ' + bankAccount %></h3>

        <table>
            <% for(let i =0; i < allBudget.length; i++){ %>
            <tr>
               <td><%= allBudget[i].date %></td>
               <td><a href="/budget/<%=i %>"><%= allBudget[i].name %> </a></td>
               <td><%= allBudget[i].amount %></td>
            </tr>
            <% } %>
        </table>
        <button><a href="/budget/new">Submit a new Expense</a></button>

    </div>

    <!-- if else statement to change colors of the balance -->
    <% if (bankAccount > 1000) { %>
        <style>
            h3 {
                background-color: rgb(0, 255, 60);
                display:inline-block
            }
        </style>
        <% } else if (bankAccount <= 0) { %>
            <style>
                h3 {
                    background-color: red;
                    display:inline-block;
                }
            </style>
            <!-- made a yellow statement for low balance -->
            <% } else if (bankAccount < 1000 > 0) { %>
                <style>
                    h3 {
                        background-color: rgb(254, 233, 1);
                        display: inline-block;
                    }
                </style>

    <% } %>
    

</body>
</html>

<!-- let arr = [ 1, 2, 3, 4, 5, 6 ];
arr.reduce(function(p,n){
    return p + n;
}, 0);
// Output 21 -->

<!-- array reduce method from Stackoverflow -->

